html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  z-index: 10;
  display: inline;
  animation: opacityToZero 1s;
}

.cover-transition {
  animation: opacityToOne 10s;
  display: inline;
  z-index: 10;
}

.cover-inactive {
  z-index: 0;
  display: none;
}

@keyframes opacityToOne {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityToZero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
