.container {
  width: 100vw;
}

.container * {
  z-index: 1;
}

.video {
  z-index: 0;
  position: fixed;
  height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.mainDark {
  background-color: #111;
}
.mainLight {
  background-color: #eee;
}

.title {
  margin: 3rem;
  line-height: 1.15;
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

.titleDark {
  background: radial-gradient(ellipse at right, #d5d8cd 0%, #6d6d6d 100%);
  /* Mask the color to the text, and remove the rest  */
  background-clip: text;
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  animation: titleFlicker 10s linear 3s infinite;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.dark {
  color: #ddd;
}

@keyframes titleFlicker {
  0%,
  2%,
  5% {
    background: radial-gradient(ellipse at right, #d5d8cd 0%, #6d6d6d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
  }
  1%,
  4% {
    background: radial-gradient(ellipse at right, #d5d8cd 0%, #585858 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
  }
}

@keyframes flicker {
  0%,
  2%,
  5% {
    opacity: 1;
  }
  1%,
  4% {
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.set {
  display: flex;
  flex-direction: column;
  border: none;
}

.set label {
  display: grid;
}

.invalid {
  border: 1.5px solid #ef4737;
  background-color: #ffe1de;
}
