.light {
  position: absolute;
  top: 100px;
  right: 100px;
}

.lightbulb {
  border-radius: 30px;
  box-shadow: 0 0 100px #fff;
  position: absolute;
  left: 50%;
  top: 0;
  color: rgb(218, 213, 169);
  transform: translate(-50%, -5%) rotate(180deg);
  transition: 2s;
  animation: flicker 10s linear 3s infinite;
}

.lightbulbLight {
  color: rgb(218, 213, 169);
  transform: translate(-50%, -5%) rotate(180deg) scale(1.2);
  animation: flicker 10s linear 3s infinite;
}

.light:hover {
  cursor: pointer;
}

.lightGlow {
  background-color: #ffffff22;
  height: 300px;
  width: 300px;
  border-radius: 300px;
  filter: blur(50px);
  position: absolute;
  left: 15px;
  top: 15px;
  transform: translate(-50%, -50%);
}

.cord {
  height: 600px;
  width: 8px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.cordLight {
  background-color: rgb(70, 70, 70);
}

.inactive {
  right: 20px;
}

@keyframes flicker {
  0%,
  2%,
  5% {
    opacity: 1;
  }
  1%,
  4% {
    opacity: 0.1;
  }
}
