.container {
  width: 100vw;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #111;
}

.title {
  color: white;
}

.main article {
  width: 100%;
  max-width: 1200px;
  color: white;
}
